@charset "UTF-8";

.page-main{
	font-family: 'IM_Hyemin-Bold';
    transform: skew(-0.1deg);
}
.result-display{
	width:400px;
	height:200px;
	/*정중앙에 div를 배치하기 위한 설정*/
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	border:2px solid #F3B178;
	border-radius: 40px/40px;
	display:flex;
	/*세로 정렬*/
	align-items:center;
	/*가로 정렬*/
	justify-content:center;
}
.align-center{
	text-align:center;
}
.align-right{
	text-align:right;
}
.align-left {
	text-align:left;
}
ul{
	list-style:none;
}

#My-sidebar {
    text-align: center;
    border-radius: 40px/40px;
    float:left;
    height: 100%;
    background-color: #F7DFD1;
    margin-right:30px;
    padding: 40px 40px 40px;
    font-family: 'IM_Hyemin-Bold';
    transform: skew(-0.1deg);
}
.user_photo{
	 object-position:top;
	 border-radius: 40px/40px;
}
.user_id {
	font-size: 25px;
	color:#F3B178;
	font-family: 'IM_Hyemin-Bold';
    transform: skew(-0.1deg);
}

h4{
	font-size: 20px;
	border-bottom: 2px solid #F3B178;
}
.aa{
	font-size: 17px;
	line-height: 0.8;
}
/*MyPageDetail*/
.mypage-phototo{
	float:left;
	text-align: center;
	width:38%;
	padding: 50px 0px 0px 0px;
	border-radius: 40px/40px;
}
.mypage-id{	
	float: right;
	text-align: center;
	padding: 50px 0px 50px 30px;
}
input#file-upload-button{
font-family: 'SUIT', sans-serif;
}
table#mypage-id {
    margin-left:auto; 
    margin-right:auto;
    width: 300px;
    height: 500px;
}

table, td, th {
    border-collapse : collapse;
    border-bottom: 2px solid #F3B178;
    text-align: center;
    padding: 5px;
}

/*modify_form*/
table#mypage-id {
    width: 400px;
    height: 200px;
    padding: 10px;
    text-align: center;
    margin: 0 auto;
}

form#modify_form{
    margin: 0 auto;
    padding: 100px; 
    border-radius: 40px/40px;
    border: 2px solid #F3B178;
    display: inline-block;
}
/*.table1{
    padding: 50px 20px; 
}
*/

border{
  width : 100px;
  height: 100px;
}

form#delete_form{
	width:600px;
    margin: 0 auto;
    padding: 100px; 
    border-radius: 40px/40px;
    border: 2px solid #F3B178;
}

form#password_form{

    margin: 0 auto;
    padding: 100px; 
    border-radius: 40px/40px;
    border: 2px solid #F3B178;
    display: inline-block;
}
form#memberList{
	width:800px;
    margin: 0 auto;
}

form#search_form{
    padding: 10px 0px 50px 150px ; 
    display: inline-block;
}
table#List{
    margin-left:auto; 
    margin-right:auto;
    padding: 10px;
}

form#detail_form{
	width:700px;
    margin: 0 auto;
    padding: 100px; 
    border-radius: 40px/40px;
    border: 2px solid #F3B178;
    display: inline-block;
}
.pagenum{
	text-align:center;
    padding: 0px 0px 0px 100px ; 
}
/*판매중인 상품 리스트*/
.sell{
	margin-top :75px;
}

table#sellList{
    margin-left:auto; 
    margin-right:auto;
    padding: 100px;
    
}
* {
	box-sizing: border-box;
}

input,select,textarea {
	margin: 5px;
	
}
input:focus,select:focus {
	outline-color: var(--point);
}

