@charset "UTF-8";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");

/* 공통 : 컬러 */
:root {
	--point: #9789e8;
	--point-hover: #8474e4;
	--light-gray: #e0e0e0;
	--light-gray-hover: #d0d0d0;
	--light-gray-disabled: #999;
	--light-black: #303030;
	--light-white: #f8f8f8;
	--gray: #808080;
	--gray-hover: #a9a9a9;
	--silver: #c0c0c0;
	--silver-hover: #b0b0b0;
}
body {
	color: var(--light-black);
}
.gray,.gray * {
	color: var(--gray);
}

/* 공통 : 레이아웃 */
* {
	box-sizing: border-box;
}
.page-main {
	width: 1200px;
}
ul {
	margin: 0 auto;
	padding: 0;
}
.flex-column {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.flex-row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
}
.space-between {
	justify-content: space-between;
}
.space-evenly {
	justify-content: space-evenly;
}
.justify-center {
	justify-content: center;
}
.justify-start {
	justify-content: flex-start;
}
.justify-end {
	justify-content: flex-end;
}
.align-start {
	align-items: flex-start;
}
.align-end {
	align-items: flex-end;
}
input,select,textarea {
	margin: 5px;
	padding: 10px;
}
input:focus,textarea:focus,select:focus {
	outline-color: var(--point);
}
.ellipsis {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.underline {
	text-decoration: underline !important;
}

/* 공통 : 꾸미기 */
hr {
	margin: 0 auto;
	padding: 0;
	border-style: solid;
	background-color: var(--light-gray); /* 설정하지 않으면 크롬에서는 테두리가 있는 선이 생김 */
	color: var(--light-gray);
}
.info {
	font-size: 0.8rem;
}
.title {
	font-size: 1.6rem;
	font-weight: bold;
}
.subtitle {
	font-size: 1.2rem;
	font-weight: bold;
}
a,a:link{ /* layout.css와 충돌 */
	color: inherit !important;
}
a:hover {
	text-decoration: none;
	color: var(--gray-hover) !important;
	cursor: pointer;
}
img {
	object-fit: cover;
	object-position: center;
	background-color: var(--light-white);
}

/* 아이콘 버튼 */
i.bi {
	margin: 5px;
	padding: 5px;
	font-size: 1.6rem;
	color: var(--point);
	transition: all 0.5s ease;
	cursor: pointer;
}
i.bi:hover {
	color: var(--point-hover);
}

/* 페이징 버튼 */
.paging a {
	font-size: 1rem;
	font-weight: bold;
	display: inline-block;
	margin: 5px 0;
	padding: 10px 15px;
	border-radius: 10px;
	color: var(--light-black);
	background: var(--light-gray);
	transition: all 0.5s ease;
	cursor: pointer;
}
.paging a:hover {
	background: var(--light-gray-hover);
}
.paging span {
	font-size: 1rem;
	font-weight: bold;
	display: inline-block;
	margin: 5px 0;
	padding: 10px 15px;
	border-radius: 10px;
	color: var(--light-white) !important;
	background: var(--point);
	cursor: default;
}

/* 텍스트 버튼 */
input[type="button"],input[type="submit"],button {
	font-size: 1rem;
	font-weight: bold;
	margin: 0 5px;
	padding: 10px;
	border-radius: 5px;
	color: var(--light-black);
	border: 3px solid var(--light-gray);
	background: var(--light-gray);
	transition: all 0.5s ease;
	cursor: pointer;
}
input[type="button"]:not(:disabled):hover,button:not(:disabled):hover {
	border: 3px solid var(--light-gray-hover);
	background: var(--light-gray-hover);
}
input[type="button"]:disabled,button:disabled {
	color: #aaa;
	cursor: default;
}
input[type="button"].big,button.big {
	font-size: 1.2rem;
	font-weight: bold;
	padding: 10px;
	border-radius: 5px;
	color: var(--light-black);
	border: 3px solid var(--light-gray);
	background: var(--light-gray);
}
input[type="button"].big:not(:disabled):hover,button.big:not(:disabled):hover {
	border: 3px solid var(--light-gray-hover);
	background: var(--light-gray-hover);
}
input[type="button"].point,button.point {
	border: 3px solid var(--point);
	color: var(--light-white);
	background: var(--point);
}
input[type="button"].point:not(:disabled):hover,button.point:not(:disabled):hover {
	border: 3px solid var(--point-hover);
	background: var(--point-hover);
}
input[type="button"].point:disabled,button.point:disabled {
	border: 3px solid var(--light-gray-disabled);
	background: var(--light-gray-disabled);
	cursor: default;
}
input[type="button"].reverse-point,button.reverse-point {
	border: 3px solid var(--point);
	color: var(--point);
	background: transparent;
}
input[type="button"].reverse-point:hover,button.reverse-point:hover {
	border: 3px solid var(--point-hover);
	color: var(--point-hover);
	background: transparent;
}
input[type="button"].reverse-silver,button.reverse-silver {
	border: 3px solid var(--silver);
	color: var(--silver);
	background: transparent;
}
input[type="button"].reverse-silver:hover,button.reverse-silver:hover {
	border: 3px solid var(--silver-hover);
	color: var(--silver-hover);
	background: transparent;
}
button.square {
	margin: 0;
	width: 100px;
	height: 100px;
	word-wrap: break-word;
	word-break: keep-all;
}

/* 메인 : 검색 바 */
form#search {
	margin: 75px auto 0;
	padding: 0;
	width: 800px;
	border: none;
}
form#search ul {

}
form#search ul li input[type="search"] {
	width: 250px;
}

/* 메인 : 동네 선택 */
.modal {
	z-index: 1;
	position: absolute; 
	top: 0; 
	left: 0; 
	width: 100%; 
	min-height: 100vh;
	display: none; 
	background-color: rgba(0, 0, 0, 0.4);
}
.modal.show {
	display: block; 
}
.modal-content { 
	position: absolute; 
	top: 20%; 
	left: 50%;
	padding: 25px; 
	text-align: center; 
	background-color: var(--light-white); 
	border-radius: 10px; 
	box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.15); 
	transform: translateX(-50%) translateY(-20%);
}

/* 메인 : 물품 목록 */
.list-main {
	margin: 0 auto;
	padding: 0;
	width: 1100px;
}
.list-main li {
	margin: 5px;
	padding: 5px;
}
.list-main li a div {
	margin-top: 5px;
	padding: 0 15px;
	max-width: 200px;
}
.list-main li .title {
	font-size: 1rem;
}
.list-main li .price {
	font-weight: bold;
	font-size: 1rem;
}
.list-main li .address {
	font-size: 0.8rem;
}
.list-main li img {
	margin-bottom: 5px;
	width: 200px;
	height: 200px;
	border-radius: 10%;
}

/* 로그인 */
.login {
	margin: 75px auto 0;
	padding: 0;
	width: 600px;	
}
.login > li {
	margin: 10px 0;
	padding: 0;
}
.login form { /* layout.css와 충돌 */
	margin: 0;
	padding: 0;
	width: inherit;
	border: none;
}
.login form > ul > li {
	margin: 10px 0;
	padding: 0 15px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}
.login form > ul > li > div {
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}
.login .input-box {
	margin: 0 auto;
	padding: 10px;
	border: 1px solid var(--light-gray);
	border-radius: 10px;
}
.login .input-box:focus-within {
	box-shadow: 0 0 0 3px var(--point);	
}
.login .input-box i.bi {
	color: var(--gray) !important;
	cursor: default;
}
.login .input-box input {
	margin: 0 5px;
	width: 400px;
	border: none;
	font-size: 1.2rem;
}
.login .input-box input:focus {
	outline: none;
}
.login .caution {
	margin: -10px auto 0;
	padding: 0;
	width: 450px;
}
.login .modal-content span,.register .modal-content span {
	margin: 10px 10px 25px;
}

/* 회원 가입 */
.register {
	margin: 75px auto 0;
	padding: 0;
	width: 720px;	
}
.register > li {
	margin: 10px 0;
	padding: 0;
}
.register form { /* layout.css와 충돌 */
	margin: 0;
	padding: 0;
	width: inherit;
	border: none;
}
.register form > ul > li {
	margin: 5px 0;
	padding: 0 15px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}
.register form > ul > li > div {
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}
.search {
	margin: 0 auto 0 150px;
	padding: 0 5px;
}
.register label {
	float: none; /* layout.css와 충돌 */
	width: 150px;
}
.register input:not([type="button"]) {
	width:400px;
}
.register [name="age"],.register select[name="phone"] {
	width: 125px !important;
}
.register input[name="phone"] {
	width: 260px !important;
}
#year,#area_code,#phone1 {
	width: 130px !important;
}
.caution {
	padding: 5px;
	font-size: 0.8rem;
	color: var(--gray);
}
.caution i.bi {
	font-size: 1rem;
	color: inherit;
}
.caution.hide {
	display: none;
}
.caution.called {
	color: var(--point);
}

/* 물품 상세 정보 */
.detail {
	width: 600px;
	margin: 75px auto 0;
	padding: 0;
}
.detail li {
	margin: 0;
	padding: 5px 0;
}
.detail li img {
	width: 600px;
	height: 600px;
	border-radius: 10%;
}
.detail li img.profile {
	width: 50px;
	height: 50px;
	border-radius: 50%;
}

/* 물품 상세 정보 : 판매자 */
.seller {
	
}
.seller div {
	margin: 0;
	padding: 0 5px;
}
.seller .flex-column {
	height: 55px;
}
.seller .who > div > div:first-child {
	font-weight: bold;
	font-size: 1.2rem;
}
.seller .manner {

}
.manner-stars i.bi {
	margin: 0 -2px;
	padding: 0;
	pointer-events: none;
}
.manner-stars i.bi.disabled {
	color: var(--light-gray-hover);
}

/* 물품 상세 정보 : 글 */
.detail .product div {
	padding-top: 5px;
}
.detail .product .content {
	margin-bottom: 50px;
}
.detail .product .content.deleted {
	padding: 15px 0 0 15px;
	font-style: italic;
	color: var(--silver-hover);
}

/* 물품 상세 정보 : 관심 */
i.bi#like {
	margin: 0 5px;
	padding: 0;
	font-size: 2.5em;
}
i.bi#like.disabled {
	color: var(--light-gray-hover);
	cursor: default;
}

/* 물품 상세 정보 : 댓글 */
.comment-list {

}
.reply-list {
	margin: 0;
}
.comment-write {
	
}
.comment-more {
	margin: 5px 0;
	width: 100%;
}
.comment-list.hide,.comment-write.hide,#reply_area.hide,.comment-more.hide {
	display: none;	
}
.comment-list .profile {
	margin: 5px 10px;
}
.comment-text {

}
.comment-text > div {
	margin: 5px;
	width: 500px;
}
.comment-text .deleted,.chat-notice {
	margin: 5px 5px 10px;
	font-style: italic;
	font-size: 0.9rem;
	color: var(--silver-hover);
}
.comment-text .deleted i.bi {
	font-size: 1rem;
	color: inherit;
	cursor: default;
}
.reply-list .comment-text > div {
	width: 450px;
}
.comment-subtitle {
	font-weight: bold;
	font-size: 0.9rem;
}
.seller-tag {
	margin: 5px;
	padding: 2px;
	border: solid 1px var(--silver-hover);
	border-radius: 5px;
	font-size: 0.8rem;
	color: var(--silver-hover);
}
.comment-info {
	font-size: 0.8em;
	color: var(--gray);
}
.comment-list i.bi,.reply-list i.bi {
	font-size: 1.4rem;
}
.comment-menu > a {
	margin: 0 5px;
	font-weight: bold;
	font-size: 0.8rem;
	color: var(--gray) !important;
}
.comment-write textarea,#modify_area textarea {
	width: 400px;
	height: 80px;
}
.reply-write textarea {
	width: 320px;
	height: 80px;
}
.comment-write input[type="button"],.reply-write input[type="button"] {
	margin: 5px;
}

/* 물품 상세 정보: 실시간 중고 더보기 */
.list-other {
	margin: 0 auto;
	padding: 0;
	width: 600px;
}
.list-other li {
	margin: 10px 0;
	padding: 5px;
	display: flex;
	flex-direction: column;
}
.list-other li a div {
	margin-top: 5px;
	padding: 0 10px;
	max-width: 180px;
}
.list-other li .title {
	font-size: 1rem;
}
.list-other li .price {
	font-weight: bold;
	font-size: 1rem;
}
.list-other li .address {
	font-size: 0.8rem;
}
.list-other li img {
	margin-bottom: 5px;
	width: 180px;
	height: 180px;
	border-radius: 10%;
}

/* 채팅 : 레이아웃 */
.chat {
	margin-top: 75px;
}
ul.chat-main {
	margin: 0 auto 0 0;
	padding: 0;
	width: 480px;
	height: 600px;
}
ul.chat-main li hr {
	margin: 5px 0;
}
.chat-header.who-area {
	text-align: center;
}
.chat-header.product-area {

}
.chat-header.product-area > div > div {
	margin: 5px;
	max-width: 270px;
}
.read-area {
	height: 360px;
	overflow-y: auto;
}
.read-area.no-reply {
	height: 460px;
}
.send-area { /* layout.css의 form과 충돌 */
	margin: 0;
	padding: 0;
	width: 480px;
	border: none;
}
.send-area input[type="text"] {
	width: 400px;
}
hr.vertical {
	margin: 0 10px 0;
	width: 1px;
	height: 600px;
}
.chat-header img {
	width: 100px;
	height: 100px;
	border-radius: 10px;
}
.chat-me {
	margin: 0 0 0 auto;
}
.chat-me .flex-row {
	flex-direction: row-reverse;
}
.chat-you {
	margin: 0 auto 0 0;
}
.chat-content {
	margin: 5px;
	padding: 10px;
	max-width: 360px;
	border-radius: 15px;
	font-size: 1.2rem;
}
.chat-notice {
	margin: auto;
}

/* 채팅 : 꾸미기 */
.chat-title {
	margin: 0 5px;
	font-size: 1.2rem;
	font-weight: bold;
}
.who-area .chat-title {
	font-size: 1.4rem;
}
.who-area .manner i.bi {
	font-size: 1.4rem;
}
.chat-subtitle {
	margin: 0 5px;
}
.chat-profile,.list-profile {
	margin: 10px 10px 0;
	width: 25px;
	height: 25px;
	object-position: top;
	border-radius: 50%;
}
.chat-me .chat-content {
	color: var(--light-white);
	background-color: var(--point);
	border-bottom-right-radius: 0;
}
.chat-you .chat-content {
	color: var(--light-black);
	background-color: var(--light-gray);
	border-bottom-left-radius: 0;
}
.chat-info {
	margin: 10px 0;
	font-size: 0.8em;
	color: var(--gray);
}

/* 채팅방 목록 : 레이아웃 */
ul.chat-other {
	margin: 0 0 0 auto;
	padding: 0;
	width: 360px;
	height: 600px;
	overflow-y: auto;
}
.search-area {
	margin: 25px 0 10px;
	padding: 0;
	width: inherit;
	border: none;
}
.list-area {
	height: 420px;
	overflow-y: auto;
}
.list-area ul li {

}
.list-profile {
	margin-bottom: 10px;
}
.list-who {
	margin: 5px;
	padding: 5px 0 0;
}
.list-area .chat-subtitle {
	margin: 0;
	padding: 0;
	max-width: 125px;
}
.list-area .chat-info {
	margin: 0;
	padding: 0 5px;
}
.list-product {
	width: 50px;
	height: 50px;
	border-radius: 10px;
}
.latest-chat {
	margin: -5px 5px 5px;
	padding: 5px 0;
	width: 240px;
}

/* 채팅방 목록 : 꾸미기 */
.chat-selection {
	display: block;
	margin: 0 5px;
	padding: 0;
	width: 5px;
	height: 50px;
}
.chat-selection.selected {
	background-color: var(--point);
}
.chat-selection.unread {
	background-color: var(--point);
	margin-bottom: auto;
	height: 5px;
	border-radius: 50%;	
}
.list-stripe {
	background-color: var(--light-white);
	border-radius: 5px;
}