@charset "UTF-8";

.page-main{
	width:900px;
	margin:0 auto;
}
.result-display{
	width:400px;
	height:200px;
	/*정중앙에 div를 배치하기 위한 설정*/
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	border:1px solid #000;
	display:flex;
	/*세로 정렬*/
	align-items:center;
	/*가로 정렬*/
	justify-content:center;
}
.align-center{
	text-align:center;
}
.align-right{
	text-align:right;
}
/*메인*/
a:link{
	text-decoration:none;
	color:#000000;
}
a:visited{
	text-decoration:none;
	color:#000000;
}
a:hover{
	text-decoration:underline;
	color:#999999;
}

/*회원가입, 수정폼*/
form{
	width:600px;
	margin:0 auto;
	padding:10px 10px 10px 30px;
	border:1px solid #000;
}
ul{
	list-style:none;
}
label{
	width:130px;
	float:left;
}
input[type="text"],input[type="password"],input[type="email"]{
	width:200px;
}
#register_form input[id="id"]{
	width:113px;
}
input[id="zipcode"]{
	width:95px;
}
.form-notice{
	margin-left:130px;
}
/*목록*/
form#search_form{
	border:none;
}
ul.search{
	width:300px;
	list-style:none;
	padding:0;
	margin:0 auto;
}
ul.search li{
	margin:0 0 9px 0;
	padding:0;
	display:inline;
}
.list-space{
	margin-bottom:10px;
}
table{
	width:100%;
	border:1px solid #000;
	border-collapse:collapse;
	margin-top:5px;
}
table td, table th{
	border:1px solid #000;
	padding:5px;
}
/*My Page*/
.mypage-div{
	width:48%;
	float:left;
	padding:5px;
}
.my-photo{
	object-fit:cover;
	/*정사각형이 아니라 직사각형일 경우 원 안에 보여지게 할 중심 이미지의 위치를 지정*/
	object-position:top;
	/*사각형의 모서리 둥근 정도를 지정하는 속성인 데 50%를 지정하면 완전한 원이 됨*/
	border-radius:50%;
}
/*글상세*/
.detail-img{
	max-width:500px;
}
div#reply_div{
	padding:5px 10px 40px 10px;
	margin-top:10px;
	background-color:#eeeeee;
}
form#re_form{
	width:650px;
	border:none;
}
span.re-title{
	color:#000;
	font-size:12pt;
	line-height:200%;
}
span.letter-count{
	font-size:10pt;
	color:#999;
}
textarea.rep-content{
	width:90%;
	height:50px;
	margin:10px 10px;
}
div#re_first, div#mre_first{
	float:left;
	width:70%;
	padding-left:15px;
	margin-bottom:10px;
}
div#re_second, div#mre_second{
	float:left;
	width:19%;
	margin-bottom:10px;
}
div#loading{
	width:100px;
	margin:0 auto;
}
div.paging-button{
	text-align:right;
}
div#output{
	clear:both;
}
form#mre_form{
	border:none;
	margin:5px;
}











