@charset "UTF-8";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
@font-face {
    font-family: 'IM_Hyemin-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/IM_Hyemin-Bold.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 공통 : 컬러 */
:root {
	--point: #F3B178;
	--point-hover: #FD8A44;
	--light-point: #F7DFD1;
	--light-gray: #e0e0e0;
	--light-gray-hover: #d0d0d0;
	--light-gray-disabled: #999;
	--light-black: #303030;
	--light-white: #f8f8f8;
	--gray: #808080;
	--gray-hover: #a9a9a9;
	--silver: #c0c0c0;
	--silver-hover: #b0b0b0;
}
.page-main {
	margin: 0 auto;
	width: 1200px;
}
a {
	text-decoration: none;
}
ul{
	list-style: none;
}