@charset "UTF-8";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
@import url("https://cdn.jsdelivr.net/gh/sunn-us/SUIT/fonts/static/woff2/SUIT.css");
@font-face {
    font-family: 'IM_Hyemin-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/IM_Hyemin-Bold.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* 공통 : 컬러 */
:root {
	--point: #FD8A44;
	--point-hover: #FD7A2B;
	--light-point: #F7DFD1;
	--light-point-hover: F3B178;
	--light-gray: #E0E0E0;
	--light-gray-hover: #D0D0D0;
	--light-gray-disabled: #999;
	--light-black: #303030;
	--light-white: #F8F8F8;
	--gray: #808080;
	--gray-hover: #A9A9A9;
	--silver: #C0C0C0;
	--silver-hover: #B0B0B0;
}

/* 공통 : 레이아웃 */
* {
	box-sizing: border-box;
	font-family: 'SUIT', sans-serif;
	font-weight: 500;
	color: var(--light-black);
}
html {
	font-size: 20px;
}
body {
	margin: 0;
	padding: 0;
}
.page-main {
	margin: 0 auto;
	padding-top: 80px;
	width: 1200px;
}
a {
	text-decoration: none;
}
ul{
	list-style: none;
}
input,textarea,select,option {
	font-size: 1rem;
}

/*mypage main*/
.header {
	z-index: 1;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-end;
	flex-wrap: nowrap;
	margin-top: 0;
	width: 100%;
	height: 80px;
	border-top: solid 5px var(--point);
	background-color: var(--light-white);
}
.header * {
	font-family: 'IM_Hyemin-Bold';
}
.header-title {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	margin-left: 50px;
	margin-right: 50px;
	padding-top: 10px;
	padding-bottom: 10px;
	max-width: 450px;
	width: 400px;
	height: 100%;
	flex-grow: 1;
	flex-shrink: 0;
	color: var(--point);
	font-size: 2rem;
	font-weight: bold;
}
.header-title:hover {
	color: var(--point-hover) !important;
}
.header-menu {
	margin-right: 50px;
	min-width: 600px;
	height: 100%;
	font-size: 1.2rem;
	font-weight: bold;
}
.header-menu ul {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-end;
	margin: 0;
	padding: 0;
	height: 100%;
}
.header-menu ul li {
	height: 100%;
}
.header-menu ul li a {
	display: flex;
	align-items: flex-end;
	margin-top: -5px;
	padding: 25px 20px 15px;
	width: 100%;
	height: 100%;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	transition: background-color 0.5s ease;
}
.header-menu ul li a:hover {
	background-color: var(--point);
}
.header-menu ul li a:hover div,.header-menu ul li a:hover i.bi{
	color: var(--light-white);
}
.header-who {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;	
}
.header-profile {
	margin-left: 15px;
	/*margin-top: -6px;*/
	width: 35px;
	height: 35px;
	object-fit:cover;
	object-position:top;
	border: 5px solid var(--light-white);
	border-radius:50%;
}
.header-chat {
/*	margin-top: -3px;*/
}
.header-chat a:hover {
	color: var(--light-white);
}
.header-chat i.bi {
	margin: 0;
	padding: 0;
}
.header-chat i.bi.disabled {
	color: var(--silver);
}
/* 아이콘 버튼 */
i.bi {
	margin: 5px;
	padding: 5px;
	font-size: 1.4rem;
	color: var(--point);
	transition: all 0.5s ease;
	cursor: pointer;
}
i.bi:hover {
	color: var(--point-hover);
}
.my-pageMain{
	display: flex;
	text-align: center;
	flex-direction:row;
	justify-content:space-between;
	padding: 70px 200px 10px 200px;
	font-family: 'IM_Hyemin-Bold';
    transform: skew(-0.1deg);
}

.mypage-photo{
text-align: center;
border-radius: 40px/40px;
margin-top : 75px;
}

.admin_page{
	display: flex;
	text-align: center;
	flex-direction:row;
	justify-content:space-between;
	padding: 70px 500px 10px 500px;
	font-family: 'IM_Hyemin-Bold';
    transform: skew(-0.1deg);
}
h4{
	font-size: 20px;
	border-bottom: 2px solid #F3B178;
}
.user_photo{
	 object-position:top;
	 border-radius: 40px/40px;
}
.user_id {
	font-size: 25px;
	color:#F3B178;
	font-family: 'IM_Hyemin-Bold';
    transform: skew(-0.1deg);
}
a{
	font-size: 17px;
	line-height: 0.8;
}